<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.UserDao">

    <!--使用memcache管理mybatis的二级缓存-->
    <!--<cache></cache>-->
    <cache type="org.mybatis.caches.memcached.MemcachedCache"/>

    <select id="findAll" resultType="com.baizhi.entity.User">
        select * from t_user
    </select>

</mapper>
